<section>

<h3 id="about-me">That is me</h3>
<div class="face-lockup">
    <div class="face-img"></div>
    <div class="blurb">
        <p><strong> Here is suppost to be a lot of information about me, my self and my skills</strong> but this part is optional,
        I was just playing around with fucntionality and got a bit destracted from the actual challenge
        </p> 
    </div>
</div>

    <div class="skill-lockup">
           
        <div class="skill-unit">
            <div class="skill-labe"> Communication</div>
            <div class="skill-icons skill-10">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-labe">Team Player</div>
            <div class="skill-icons">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
    
        <div class="skill-unit">
            <div class="skill-labe">Learning</div>
            <div class="skill-icons">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
   
        <div class="skill-unit">
            <div class="skill-labe">Programming</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
    
        <div class="skill-unit">
            <div class="skill-labe">Hobbies</div>
            <div class="skill-icons">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
    
        <div class="skill-unit">
            <div class="skill-labe"> I do have a life,I hope</div>
            <div class="skill-icons">
                <span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span>
                <span></span><span></span>
            </div>
        </div>
    </div>

</section>