<section class="alt-section section-chellenge">
    <h3 id="work">Challenge</h3>
<div class="chellenge-belt">
    <div class="thumb-wrap">
        <div class="thumb-container" id="t-container">
       
        </div>  
    </div>
    <div class="challenge-wrap">
        <div class="chellenge-container" >
            <h4 class="product-title" id="c-cont">Details!</h4>
            <div class="return">Back</div>
            <div class="product-load"></div>
            
            <button type="button" id="editbtn" onclick="editdata(this);"></button>
        </div>  
    </div>
</div>  
</section>